.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/3097394219.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.jdt.core/3176364129.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/3520661010.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/358050146.index
.metadata/.plugins/org.eclipse.jdt.core/3776425001.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/3963179895.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/821093777.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/844601494.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.jdt.core/847618560.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/881303192.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/881895235.index
.metadata/.plugins/org.eclipse.jdt.core/949515501.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.lock
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.log
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.core.resources/.history/14/f053180929470017110b87b910575a79
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.core.resources/.history/16/706fbc0029470017110b87b910575a79
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.core.resources/.history/19/20f6217027470017110b87b910575a79
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.core.resources/.history/2/70818c4c28470017110b87b910575a79
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.core.resources/.history/3b/d077ac7f29470017110b87b910575a79
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.core.resources/.history/48/403ab78928470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/4b/30c12aef28470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.core.resources/.history/54/e03125a228470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.core.resources/.history/5c/702c589329470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.core.resources/.history/86/c0b8f64e2a470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.core.resources/.history/9f/707bc85728470017110b87b910575a79
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.core.resources/.history/ab/d04ca6552a470017110b87b910575a79
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.core.resources/.history/af/f08c940c2a470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.core.resources/.history/cf/f062f7cd2a470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/d3/2028c2b82a470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/c5e59674f50a299826f75887596f02cd/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.core.resources/.history/d6/8032ea802a470017110b87b910575a79
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.core.resources/.history/e0/309e7af428470017110b87b910575a79
.metadata/.plugins/org.eclipse.m2e.core/nexus/c5e59674f50a299826f75887596f02cd/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/c5e59674f50a299826f75887596f02cd/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1654984216.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/c5e59674f50a299826f75887596f02cd/write.lock
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.jdt.core/1788774523.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.m2e.jdt/sistema_financeiro_2017_A.container
.metadata/.plugins/org.eclipse.jdt.core/2143716467.index
.metadata/.plugins/org.eclipse.jdt.core/2394392208.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.jdt.core/2448026493.index
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.indexes/e4/b9/22/29/history.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.jdt.core/248351807.index
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.indexes/e4/b9/22/4a/history.index
.metadata/.plugins/org.eclipse.jdt.core/2874852903.index
.metadata/.plugins/org.eclipse.jdt.core/290714306.index
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.indexes/e4/b9/22/9c/history.index
.metadata/.plugins/org.eclipse.jdt.core/2958705335.index
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.indexes/properties.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2551557516.index
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.c4m26_20/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.location
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2874852903.index
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.c4m26_20/H.local_16/node.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.markers.snap
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2985829744.index
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.c4m26_20/node.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3419967334.index
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/.syncinfo.snap
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/sistema_financeiro_2017_A/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1158694347.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/241691984.index
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
RemoteSystemsTempFiles/.project
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.rse.core/.log
